@use '../../utils/variables';

.home-gallery {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    cursor: pointer;

    @media screen and (min-width: 900px) {
        flex-direction: row;
        width: 100%;
        height: calc(100vh - 240px)
    }

    &_primary_item, &_secondary_item {
        position: relative;
        margin-bottom: 30px;
        &-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            text-overflow: clip;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            color: white;
            z-index: 1;
            padding: 0 20px 0 20px;    
            position: absolute;
            bottom: 15px;
            font-size: 18px;
            font-weight: bold;
            @media screen and (min-width: 900px) {
                text-shadow: 3px 2px 3px #303030;
            }
        }
    }
    &_primary_item {
        background-position: center;
        background-image: linear-gradient(0deg, rgb(21, 21, 21) 4%, rgba(21, 21, 21, 0.659) 31%, rgba(255,255,255,0) 49%), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/paul-ananie3.webp?alt=media&token=c4023da2-4e1a-4412-805e-becdfc7d30f0');
        background-size: cover;
        height: 300px;
        width: 90vw;
        // background-position: left;
        // transition: background-position 0.4s;
        // background-size: 300%;
        &:hover, &:focus {
            //background-position: right;  
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, rgba(255,255,255,0) 41%), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/paul-ananie3.webp?alt=media&token=c4023da2-4e1a-4412-805e-becdfc7d30f0');
          
        }
        @media screen and (min-width: 900px) {
            width: 70%;
            height: 100%;
            position: relative;
            margin-bottom: 0;
                &-title {
                    font-size: 30px;
                }
        }
    }
    &_secondary {
        
        #div1 {
            background-image:  linear-gradient(0deg, rgb(21, 21, 21) 4%, rgba(21, 21, 21, 0.659) 31%, rgba(255,255,255,0) 49%), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/santamaria.webp?alt=media&token=99cf8040-2529-4f4c-85cd-fec08f980605');
            height: 300px;
            width: 90vw;
            &:hover, &:focus {
                background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, rgba(255,255,255,0) 41%), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/santamaria.webp?alt=media&token=99cf8040-2529-4f4c-85cd-fec08f980605');
            }
            @media screen and (min-width: 900px) {
                width: 100%;
                height: 50%;
            }
        }
        #div2 {
            background-image: linear-gradient(0deg, rgb(21, 21, 21) 4%, rgba(21, 21, 21, 0.659) 31%, rgba(255,255,255,0) 49%), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/maria-beatrice-bandoiu.webp?alt=media&token=1e4bba3b-ab97-45e5-b7c9-4c8a48a19a39');
            background-size: cover;        
            height: 300px;
            width: 90vw;      
            &:hover, &:focus {
                background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, rgba(255,255,255,0) 41%), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/maria-beatrice-bandoiu.webp?alt=media&token=1e4bba3b-ab97-45e5-b7c9-4c8a48a19a39');
            }  
            @media screen and (min-width: 900px) {
                width: 100%;
                height: 50%;
            }
        }
        @media screen and (min-width: 900px) {
            width: 30%;
            height: 100%;
        }
        &_item {      
            background-position: center;
            @media screen and (min-width: 900px) {
                margin-bottom: 0;
                &-title {
                    font-size: 20px;
                }
            }
        }
    }
}
