.test {            
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52),red), url('https://firebasestorage.googleapis.com/v0/b/traditionaltv-84ca7.appspot.com/o/paul-ananie2.jpg?alt=media&token=15a1c0f0-f501-4f62-98e1-c4acf9d038ac');
    background-size: cover;
    height: 400px
}